{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Bungee|Caveat+Brush|Russo+One" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container" style="font-family: 'Russo One', sans-serif;">
    <form>
        <input type="text" name="news_query" placeholder="Search for News">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

</div>
<div class="container" style="margin-top:50px;background-color:black; margin-bottom:50px;font-family: 'Boogaloo', cursive;">
    <h1 style="text-align:center; color:white">NEWS SOURCES</h1>
</div>

    <div class="container" style="font-family: 'Russo One', sans-serif;">
      <div class="row">
        <ul>
          {{ macro.displaySourcesList(news_sources)}}
        </ul>
      </div>

    </div>

{% endblock %}
