{% macro displaySourcesList(sources) %}
        {% for source in sources %}
          <div class="col-sm-4">
            <a href="{{source.url}}">
              <h3 style="font-weight:bold">{{ source.name}}</h3>
            </a>
            <br>
            <div class="well" style="height:200px">
                <p style="font-weight:bold">{{ source.description|truncate(200)}}</p>
            </div>
            <h4 style="font-weight:bold">{{ source.category}}</h4><br>
          </div>
        {% endfor %}
{% endmacro %}

{% macro displayTopStoriesList(articles) %}
        {% for article in articles %}
          <div class="col-sm-4">
            <img src="{{article.urlToImage}}" style="float:left">
            <div class="well" style="height:200px">
                <h4 style="font-weight:bold">{{ article.title}}</h4><br>
                <p style="font-weight:bold">{{ article.description|truncate(200)}}</p>
            </div>
            <a href="{{article.url}}">
              <h3 style="font-weight:bold">{{ article.author}}</h3>
            </a>
          </div>

        {% endfor %}
{% endmacro %}
