{% macro displaySourcesList(sources) %}
        {% for source in sources %}
          <div class="col-sm-4">
            <a href="/articles/{{source.id}}">
              <h3 style="font-weight:bold">{{ source.name}}</h3>
            </a>
            <br>
            <div class="well" style="height:200px">
                <p style="font-weight:bold">{{ source.description|truncate(200)}}</p>
            </div>
          </div>
        {% endfor %}
{% endmacro %}

{% macro displayArticles(articles) %}
        {% for article in articles %}
          <div class="col-sm-6">
            <div class="well" style="height:200px">
              <img src="{{article.urlToImage}}"alt="IMAGE NOT FOUND" style="width:150px;height:150px; float:left">
              <h3>Author: {{article.author}}</h3>
              <a href="{{article.url}}">
                <h4 style="font-weight:bold;margin-left:50px">{{ article.title|truncate(100)}}</h4>
              </a>
              <br>
              <footer>Published: {{article.date}}</footer>
            </div>
          </div>
        {% endfor %}
{% endmacro %}
