<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
            <a class="navbar-brand" href="/"> NEWS ROOM</a>

    </div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
     <li><a href="/">Home</a></li>
     <li><a href="/top-stories/<id>">Top Stories</a></li>
     <li><a href="/">General</a></li>
     <li><a href="/">Technology</a></li>
     <li><a href="/">Sport</a></li>
     <li><a href="/">Business</a></li>
     <li><a href="/">Politics</a></li>
     <li><a href="/">Entertainment</a></li>
     <li><a href="/">Music</a></li>
     <li><a href="/">Science & Culture</a></li>
  </ul>
</div>
  </div>

</div>
